<div class="col-12">
  <div class="card mt-2">
    <div class="card-header">
      Search movies
    </div>
    <div class="card-body">
      <app-search-form (searchMoviesEvent)="searchMovies($event)"></app-search-form>
    </div>
  </div>
  <br>
  <div *ngIf="showAlert">
    <ngb-alert [dismissible]="false" type="secondary">
      <strong>Movies found: </strong> {{movieOverview.totalRecords}}
    </ngb-alert>
  </div>
  <div *ngIf="showResults">
    <app-movie-list [movie]="movieOverview" (getMoviesEvent)="getMovies($event)"></app-movie-list>
  </div>
</div>
