<div class="wrapper">
  <form [formGroup]="addActorForm" autocomplete="off" (ngSubmit)="addNewActor(addActorForm)">
    <div style="margin-bottom: 15px">
      <div class="box">
        <label for="firstName">First Name:</label>
        <input formControlName="firstName" id="firstname" type="text" class="form-control" placeholder="Enter first name"/>
      </div>
      <div class="box">
        <label for="lastName">Last Name:</label>
        <input formControlName="lastName" id="lastName" type="text" class="form-control" placeholder="Enter last name"/>
      </div>
      <div class="box">
        <label for="age">Age:</label>
        <input formControlName="age" id="age" type="number" class="form-control" placeholder="Enter age"/>
      </div>
    </div>
    <button [hidden]="!isANewActor" type="submit" class="btn btn-primary">Save</button>
    <button [hidden]="isANewActor" type="button" class="btn btn-primary" (click)="removeActor(index)">Delete</button>
  </form>
</div>
