<form [formGroup]="movieForm" autocomplete="off">
  <mat-form-field class="full-width-field">
    <mat-label>Title</mat-label>
    <input matInput formControlName="title" type="text" placeholder="Enter movie title"/>
    <mat-error *ngIf="movieTitle?.invalid && movieTitle?.dirty">
      Title is required
    </mat-error>
  </mat-form-field>
  <table class="full-width-field ">
    <tr>
      <td>
        <mat-form-field class="full-width-field">
          <mat-label>Release Year</mat-label>
          <input matInput formControlName="releaseYear" type="number" placeholder="Enter release year"/>
          <mat-error *ngIf="movieReleaseYear?.invalid && movieReleaseYear?.dirty">
            Release year is required
          </mat-error>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="full-width-field">
          <mat-label>Rating</mat-label>
          <input matInput formControlName="rating" type="number" placeholder="Enter rating"/>
          <mat-error *ngIf="movieRating?.invalid && movieRating?.dirty">
            Rating should be from 1 to 100
          </mat-error>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="full-width-field">
          <mat-label>Genre</mat-label>
          <mat-select formControlName="genreId">
            <mat-option *ngFor="let genre of genreDropdownOptions" [value]="genre.value">{{genre.text}}</mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </tr>
  </table>
  <mat-form-field class="full-width-field">
    <mat-label>Description:</mat-label>
    <textarea matInput formControlName="description" type="text" placeholder="Enter description"></textarea>
  </mat-form-field>
  <mat-form-field class="full-width-field">
    <mat-label>Image URL:</mat-label>
    <input matInput formControlName="imageUrl" type="text" placeholder="Enter image URL"/>
  </mat-form-field>
</form>
